{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "jest": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "no-duplicate-imports": "warn",
    "react-hooks/exhaustive-deps": ["warn"],
    "no-console": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "caughtErrorsIgnorePattern": "^_" }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [{
    "files": ["test/**", "test-utils/**", "docs_src/**"],
    "rules": {
      "@typescript-eslint/no-non-null-assertion": "off"
    }
  }]
}
