nav {
    --_width: 34vw;
    @media (max-width: 575px) {
        --_width: 67vw;
    }

    width: var(--_width);
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    background: beige;
    height: 100%;
    box-shadow: 0 0.1em 0.3em dimgrey;
    left: -100%;

    &.fade-in {
        animation: fadeInFromLeft 0.2s ease-in forwards;
    }

    &.fade-out {
        animation: fadeOutToLeft 0.2s ease-in forwards;
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    a {
        text-decoration: none;
        color: darkgreen;
        width: 100%;
        padding: 0.75em;
        display: block;

        &:hover {
            color: #0b2e13;
        }

        &.active {
            color: white;
            background-color: darkgreen;
        }
    }

    header {
        color: darkgreen;
        margin: 0.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2em;

        svg {
            font-size: 1.2em;
            cursor: pointer;
        }
    }
}

@keyframes fadeInFromLeft {
    0% { left: -100%; }
    100% { left: 0; }
}

@keyframes fadeOutToLeft {
    0% { left: 0; }
    100% { left: -100%; }
}


//@media (max-width: 575px) {
//    @keyframes fadeOutToLeft {
//        0% { left: 0; }
//        100% { left: -67vw; }
//    }
//}
