@import "table";
@import "Main";
@import "DisplayValues";
@import "Forms";
@import "Sidebar";
@import "App";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-success:disabled {
    background-color: darkgreen;
}

svg.spinner {
    animation: spin-it infinite 1s linear;
    float: left;
    height: 1em;
    margin-right: 0.2em;
}

svg.eye {
    cursor: pointer;
}

svg.eye:hover {
    opacity: 0.5;
}

.form-group svg {
  position: absolute;
  right: 0.5em;
  top: 2em;
  height: 1em;
}

@keyframes spin-it {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
