.nav a {
    color: darkgreen;
}

.nav a:hover {
    color: #0b2e13;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: darkgreen;
}

.input-spinner {
    float: right;
    margin-top: -1.7em;
    margin-right: 0.5em;
}

p.form-group-apply {
    margin-top: -1em;
}
