pre {
    background-color: beige;
    border: 2px solid darkgreen;
    padding: 1em;
    border-radius: 1em;

    .pre {
        &__padding {
            margin-left: 2em;
        }

        &__prop {
            color: darkviolet;
        }

        &__string {
            color: darkgreen;
        }

        &__boolean {
            color: darkorange;
        }

        &__null {
            color: darkorange;
        }

        &__number {
            color: blue;
        }
    }
}

pre::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

pre:hover::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
    height: 0;
    width: 0;
}

pre::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: darkgreen;
}
