header {
    color: darkgreen;
}

header .sidebar-toggle {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 2em;
    cursor: pointer;
}

.FormContainer-logo {
    height: 80px;
}

.FormContainer-header {
    background-color: beige;
    height: 150px;
    padding: 20px 0;
    text-align: center;
}

.FormContainer-title {
    font-size: 1.5em;
}

.FormContainer-intro {
    font-size: large;
}

.FormContainer form {
    margin-top: 2em;
}
